<form [formGroup]="myForm">
Value : {{myForm.value | json}}
  <hr>
  <mat-form-field>
    <input matInput placeholder="email" formControlName="email">
  </mat-form-field>
  <div formArrayName="phone">
    <div *ngFor="let  phone of phoneForms.controls; let i = index;" [formGroupName]="i">
      <mat-form-field>
        <input matInput placeholder="Area" formControlName="area">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Prefix" formControlName="prefix">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Line" formControlName="line">
      </mat-form-field>
      <button mat-raised-button color="warn" (click)="deletePhone(i)">
        Delete
      </button>

          </div>
  </div>
  <button mat-raised-button color="primary" (click)="addPhone()"> Add Phone</button>
</form>
